Package: netkan
Version: 126
Architecture: all
Section: utils
Priority: optional
Depends: mono-complete (>=3.10)
Maintainer: Michele Ippolito <m.ippolito@outlook.com>
Description: Official KSP-CKAN metadata authoring tool.
    Official metadata authoring tool for the Comprehensive Kerbal Archive Network.
